.aam_fb_stick{background: url("../images/fb1-right.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
float: right;
padding: 0 5px 0 46px;
position: fixed;
right: -250px;
top: 25%;
width: 245px;
z-index: 99999;}.aam_fb_stick div{ padding: 0; margin-right:-8px; border:4px solid #3b5998; background:#fafafa;}.aam_fb_stick span{bottom: 4px;font: 8px "lucida grande",tahoma,verdana,arial,sans-serif;position: absolute;right: 6px;text-align: right;z-index: 99999;}.aam_fb_stick span a{color: gray;text-decoration:none;}.aam_fb_stick span a:hover{text-decoration:underline;}

} 